# Exclude .wav files
*.wav

# Proiect3-specific rules
/Proiect3/nbproject/private/
/Proiect3/nbbuild/
/Proiect3/dist/
/Proiect3/build/
/Proiect3/*.xml
!/Proiect3/build.xml

# OS-specific files
.DS_Store
Thumbs.db
Desktop.ini

# Java-specific files
*.class
*.jar
*.war
*.ear

# General temporary files
*.tmp
*.log
*.bak
*~
